 @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');

    body {
      margin: 0;
      padding: 0;
      background: #0d1117;
      font-family: "Fira Code", monospace;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      color: #e6edf3;
    }

    .terminal {
      width: 95%;
      max-width: 900px;
      background: #161b22;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 0 25px rgba(0,0,0,0.4);
      border: 1px solid #30363d;
    }

    .terminal-header {
      background: #21262d;
      padding: 12px;
      display: flex;
      align-items: center;
      gap: 10px;
      color: white;
      border-bottom: 1px solid #30363d;
    }

    .btn {
      width: 14px;
      height: 14px;
      border-radius: 50%;
    }

    .btn-1 { background: #2ea043; }
    .btn-2 { background: #d29922; }
    .btn-3 { background: #f85149; }
    .gui-btn{
      height: 20px;
      width: 50px;
      color: white;
      text-decoration: none;
      border:2px solid white;
      background-color: #58a6ff;
      padding: 5px;
      border-radius: 5px;
      transition: 1s all;
    }
    .gui-btn:hover{
      background: #2ea043;
      color: white;
      transform: scale(1.1);
    }
    .header-title {
      text-align: center;
      flex-grow: 1;
      font-size: 18px;
      color: #e6edf3;
      opacity: 0.9;
    }

    .terminal-body {
      padding: 25px;
      font-size: 17px;
      line-height: 1.7;
      min-height: 350px;
      white-space: pre-wrap;
    }

    #input-line {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 15px 25px;
      border-top: 1px solid #30363d;
    }

    #commandInput {
      flex-grow: 1;
      background: transparent;
      border: none;
      outline: none;
      color: #58a6ff;
      font-family: inherit;
      font-size: 17px;
    }

    .prompt {
      color: #2ea043;
      font-weight: 600;
    }

    .highlight {
      color: #d29922;
      font-weight: 600;
    }